p,
header, 
main, 
section,
aside,
footer {
    border: 1px solid blue;
}

body {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 100vh;        

    font-family: Arial, Helvetica, sans-serif;
}

.header {   
    display: flex;
    align-items: center;   
    justify-content: center;
    flex-basis: 10vh;
    
    font-size: large;
    background-color: rgb(221, 227, 227);
}

main {
    display: flex;
    flex-direction: row; 
    flex: 1;

    background-color: rgb(246, 241, 235);
}

.main-sections {
    display: flex;
    flex-flow: row wrap;    
    flex: 1 70%;
    padding: 5px;
    
    align-items: flex-end;     
}

.main-header {
    text-align: center;
    flex-basis: 100%;

    font-size:x-large;
}

.section-main {
    display: flex;
    align-items:center;
    justify-content: center;

    height:15%;
    
    font-size: medium;    
    background-color: rgb(238, 207, 170);
}

#one,
#two {
    flex-basis: 49%;
    margin-right: 5px;    
}

#three {
    flex-basis: 100%;
}

.aside {
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex: 0 30%;
    align-items: center;
    width: 25%;   
    background-color: rgb(208, 236, 208); 
}

.footer {   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    flex-basis: 12vh;   

    font-size: medium;
    background-color: rgb(236, 245, 245);
}

.section-footer {
    padding: 20px 75px;    
    background-color: #f1ebeb;
}