*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    width: 1600px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    background: #F2F2F2;
}

/* --------------------------------------------Groups ---------------------------------------------*/

h3 {
    /*здесь два заголовка "почему мы" и "услуги"*/
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-transform: lowercase;
}

/* --------------------------------------------Header ---------------------------------------------*/

.header {
    /* position: absolute; */
    height: 146px;
    /* left: 66px; */
    /* top: 0px; */
}

.header-container  {
    width: 1484px;
    margin: 0 auto;
    display: flex;
    align-items: center;    
} 

.logo {
    margin-right: 649px; /* по figma 671.45, но при применении последний пункт навигации перегосился на 2ю строчку */
    margin-left: 0px;    
}

.header-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-transform: lowercase;
    color: #131313;
}

.nav-link {
    margin-right: 35px;
    color: #131313;
    text-decoration: none;
}

.nav-link:last-child {
    margin-right: 0px;
}

.nav-link:hover {
    text-decoration: underline;
}

/* -------------------------------------------------Main------------------------------------------*/

.main {
    width: 1470px;   
}

.main-container {
    width: 1470px;   
    /*justify-content: space-between;*/

    margin-top: 99px;
    margin-right: 66px;
    margin-left: 66px;
    
}

.main-name {
    margin-left: 601px;
    margin-right: 3px;
    margin-top: 300px;
    margin-bottom: 0px;

    width: 866px;
    height: 310px;

    justify-items: left;

    text-transform: uppercase;
} 

.main-header {
    /* PR агенство */    
    margin: 0; /*без этого все съезжает*/
    padding: 10px;      

    font-weight: 500;
    font-size: 145px;
    line-height: 100%;    
}

.main-target {
    /* Для бизнеса и его первых лиц */    
    position:absolute;
    margin: 0;
    width: 512px;
    height: 30px;
    left: 995px;
    top: 517px;

    font-weight: 500;
    font-size: 25px; /* в фигма 30*/
    line-height: 100%;
}

.main-deal {
    /* Упакуем бизнес для... */
    position: absolute;
    margin: 0;
    padding: 5px;
    width: 350px; /* в фигма 345*/
    height: 92px;
    left: 66px;
    top: 317px;

    font-weight: 400;
    font-size: 18px;
    line-height: 127%;
    /* or 23px */
}

.main-sidetext {
    position: absolute;
    margin: 0;
    width: 144px;
    height: 18px;
    left: 1455px; /* в фигма 1534*/
    top: 245px; /* указала, как в фигма, но в браузерер криво */
    right: 66px;

    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    color: #A9216B;
    transform: rotate(90deg);
}

.main-about {
    align-content: space-between;
}

.header-about {
    /* о компании */
    position: absolute;
    width: 101px;
    height: 18px;
    left: 879px;
    top: 965px;

    /* Заголовок_2 (вроде есть там тень, как сделать как сделать)*/
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    text-transform: lowercase;
    opacity: 0.58;

    text-shadow: 1px 1px 2px #287cb8;    
}

.header-about::first-letter {
    text-shadow: 1px 1px 2px #5a06d0;
}

p.main-company {
    /* Агентство “Игра Слов”... */
    position: absolute;
    width: 537px;
    height: 147px;
    left: 995px;
    top: 965px;

    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    /* or 21px */    
}

p.main-deal2 {
    /* Находим сильные стороны...*/
    position: absolute;
    width: 602px;
    height: 184px;
    left: 66px;
    top: 940px; /* в фигма 345*/

    font-weight: 600;
    font-size: 36px;
    line-height: 127%;
    /* or 46px */

    text-transform: uppercase;
    text-align: left;
}

button {    
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 306px;
    height: 48px;
    left: 995px;
    top: 1169px;
    
    border: 1px solid #131313;
    color: #000000;
    border-radius: 900px;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    text-transform: uppercase;
    text-decoration: none;       
}

button:hover {
    text-decoration: underline;
}

button:valid {
    color: rgb(40, 124, 184);
}

/* ---------------------------- Why we & mission (1st page)---------------------------------*/

/* если это добавля, то все улетает
.whywe {
    position: absolute;
    width: 1477.26px;
    height: 509px;
    left: 66px;
    top: 1417px;
} */

.headerblock2 {
    /* Почему мы */
    position: absolute;
    padding-top: 25px;
    width: 1468px;
    height: 35px;
    left: 66px;
    top: 1417px;

    border-top: 2px solid #202020; 
    }

.reasons {
    height: 95px;

    font-weight: 600;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */

    text-align: center;
}

p.reasonename1 {
    /* Связи с Топ-100 Федеральными СМИ */
    position: absolute;
    width: 196px;
    left: 162px;
    top: 1676px;
}

.circules {
    box-sizing: border-box;
    position: absolute;
    width: 388px;
    height: 387px;
}

.polygon {
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
}

/* ---------------------------1st circle-----------------------------*/

#circle14 {
    /* Ellipse 14 */
    left: 66px;
    top: 1530px;
}

#polygon13 {
    /* Polygon 13 */
    left: 341.61px;
    top: 1534.11px;
    transform: matrix(-0.99, 0.14, 0.14, 0.99, 0, 0);
}

#polygon14 {
    /* Polygon 14 */
    left: 221.63px;
    top: 1897.82px;
    transform: rotate(39.81deg);
}

/* ---------------------------2st circle-----------------------------*/

p.reasonename2 {
    /* Глубоко анализируем вашу нишу перед запуском */
    position: absolute;
    width: 272px;
    left: 484px;
    top: 1676px;    
}

#circle15 {
    /* Ellipse 15 */
    left: 426px;
    top: 1530px;
}

#polygon11 {
    /* Polygon 11 */
    left: 540.82px;
    top: 1537px;

    transform: rotate(63.02deg);    
}

#polygon12 {
    /* Polygon 12 */
    left: 636px;
    top: 1905.81px;

    transform: matrix(0.14, 0.99, 0.99, -0.14, 0, 0);   
}

/* ---------------------------3st circle-----------------------------*/

p.reasonename3 {
    /* Ведем проекты...*/
    position: absolute;
    width: 311px;
    height: 128px;
    left: 824px;
    top: 1660px;
}

#circle16 {
    /* Ellipse 16 */
    left: 786px;
    top: 1530px;
}

#polygon9 {
    /* Polygon 9 */
    left: 996px;
    top: 1522px;

    transform: rotate(90deg);    
}

#polygon10 {
    /* Polygon 10 */
    left: 978px;
    top: 1906px;

    transform: matrix(0, 1, 1, 0, 0, 0);        
}

/* ---------------------------4st circle-----------------------------*/

p.reasonename4 {
    /* Составим из услуг... */
    position: absolute;
    width: 342px;
    height: 128px;
    left: 1169px;
    top: 1660px;    
}

#circle17 {
    /* Ellipse 17 */
    left: 1146px;
    top: 1530px;
}

#polygon7 {
    /* Polygon 7 */
    left: 1138.33px;
    top: 1705.02px;

    transform: rotate(3.75deg);
}

#polygon8 {
    /* Polygon 8 */
    left: 1523.31px;
    top: 1721.26px;
    
    transform: matrix(1, -0.07, -0.07, -1, 0, 0);    
}

/* ---------------------------Misssions & rules-----------------------------*/

.mission {
    display: block;
    width: 1468px;
    height: 441px;
    left: 66px;
    top: 2126px;
}

.ourmission {
    /* Наша миссия-использовать... */
    position: absolute;
    width: 622px;
    height: 230px;
    left: 66px;
    top: 2126px;

    font-weight: 600;
    font-size: 36px;
    line-height: 127%;
    /* or 46px */

    text-transform: uppercase;
}

.ourrules {
    /* Наши основные правила */
    position: absolute;
    width: 539px;
    height: 342px;
    left: 995px;
    top: 2126px;
} 

p.rules {
    margin-bottom: 15px;

    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
}

.ourrules ul li {
    margin-bottom: 15px;

    font-weight: 400;
    font-size: 18px;
    line-height: 127%;
}

.ourrules ul li:nth-child(3) {
    text-decoration: underline;
}


.ourrules ul li::marker {
    color:#A9216B;
    font-size: 20px;    
}

.button-telegram {    
    /* Телеграмм кнопка */
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-left: 40px;

    position: absolute;
    width: 236px;
    height: 48px;
    left: 995px;
    top: 2519px;

    border: 1px solid #131313;
    border-radius: 900px;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    align-items: center;

    text-decoration-line: underline;
    text-transform: uppercase;

    color: #131313;
}

a.button-telegram:hover {
    text-decoration: underline;
    background-color: cornflowerblue;
}

.awards {
    /* Премии */
    position: absolute;
    width: 1070px;
    height: 522px;
    left: 257px;
    top: 2717px;
}

/* ---------------------------Services (2d page)-----------------------------*/

.headerblock3 {
    /* Услуги*/
    position: absolute;
    padding-bottom: 25px;
    width: 1468px;
    height: 35px;
    left: 66px;
    top: 3389px;
    border-bottom: 2px solid #202020;  
}

.servisenames {
    /* Услуги */
    position: absolute;
    width: 1468px;
    height: 635px;
    left: 66px;
    top: 3490px; /* для отступа от услуг */

    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
}

.servisenames li {
    margin-bottom: 35px;
    list-style-type:none;
    border-bottom: 2px solid #939393;
    padding-bottom: 15px;    
}

